<html>
  <head>
    <title>SPA Static Router Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
  var source = `
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
    <ul>
    {{#each items}}
      <li>{{this}}</li>
    {{~/each}}
    </ul>
    <p id="url"></p>
  </div>`;

  var template = Handlebars.compile(source);

  var pages = {
    '/banana': `<p>bananas</p><a href="#/">back to home</a>`,
    '/orange': `<p>orange</p>`,
    '/': template({title: "My New Post", body: "This is my first post!", items: ['apples', 'oranges']}),
  }

  window.addEventListener('hashchange', function() {
    document.getElementById('root').innerHTML = pages[window.location.hash.slice(1)] || pages['/'];
  });
  // Listen on page load:
  window.addEventListener('load', function() {
    if (!window.location.hash) {
      window.location += '/#/';
    } else {
      document.getElementById('root').innerHTML = pages[window.location.hash.slice(1)] || pages['/'];
    }
  });
  </script>
  <style>
  * {
    font-family: monospace;
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }
  </style>
</html>
